#itemContainer {
    /* display: flex; */
  padding-left: 200px;
  justify-content: space-between;
  margin: 0 auto;
  width: 99%;
}

.seeItem{
  border-style: solid;
  margin: 80px;
  background-color: rgb(58, 107, 143);
}

.searchImageOuter {
  border-style: solid;
  display: flex;
  
  background-color: #226b88;
}

.searchImage {
  display: table;
  border-style: solid;
}

.searchInfo {
  margin: 30px;
  display: table;
  /* border-style: solid; */
}

.sellerInfo {
  margin: 30px;
  display: table;
  /* border-style: solid; */
}

.gallery {
    border-style: solid;
    border-color: #6D7993;
    width:25%;
    background-color: #9099A2;
    margin: 9px;
    display: inline-block
  }

.inner {
  display: table;
  margin: 0 auto;
  padding: 15px;  

}

#productImg {
  display: table;
  margin: 0 auto;
}
